ion-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

ion-card-header {
  align-items: flex-start;
}

ion-card-title,
ion-card-content {
  width: 100%;
}

ion-card-content {
  text-align: left;
}
